section.chatbox {
  background-color: #ffd014;
  height: 418px;
  width: 80%;
  border-radius: 17px;
  margin: 35px auto;

  div.header {
    background-color: inherit;
    position: relative;
    border-radius: 17px;
    top: 5%;

    p.welcome {
      margin-left: 12%;
      margin-right: 2%;
    }

    p.username {
      font-size: 14px;
      font-weight: bold;
      color: #ff77a0;
    }

    button.exit {
      position: absolute;
      width: 80px;
      background-color: #ff77a0;
      border: 0;
      border-radius: 7px;
      right: 12%;
    }
  }

  div.chatWindow {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    display: block;
    overflow: auto;
    position: relative;
    top: 8%;

      p.welcome {
        background-color: inherit;
        width: 65px;
        margin-left: 6px;
      }
      p.username {
        font-size: 14px;
        background-color: inherit;
        color: #3aa2f2;
        width: 58%;
        font-weight: bold;
      }
      button.exit {
        background-color: #ff77a0;
        border: 0;
        border-radius: 7px;
        width: 71px;
        position: absolute;
        right: 0;
      }
    }

    div.signedIn {
      width: 100%;
      position: relative;
      background-color: inherit;
      border-bottom: 1px solid #DADADA;

      p {
        width: 70%;
        color: #ff77a0;
      }

      h6 {
        color: #ff77a0;
        display: inline-block;
        margin: 0 14px;
      }
    }

    div.chatPost {
      width: 100%;
      min-height: 48px;
      position: relative;
      background-color: inherit;
      border-bottom: 1px solid #DADADA;

      p {
        width: 70%;
      }

      h6 {
        display: inline-block;
        margin: 0 14px;
      }

      button.delete {
        position: absolute;
        background-color: inherit;
        right: 2%;
        bottom: 11%;
        height: 35px;
        width: 35px;
        border: none;
      }
      button.delete:active{
        border: 2px solid #ff77a0;        
      }
    }

  form {
    background-color: inherit;
    width: 80%;
    position: relative;
    top: 10%;
    margin: 0 auto;

    input[name="message"] {
      // margin-left: 10%;
      background-color: #ffffff;
      width: 86%;
    }

    button.send {
      background-color: #ff77a0;
      border: 0;
      border-radius: 7px;
      width: 100px;
      position: absolute;
      right: 0;
    }

  }

}
