section.enterUsername {
  background-color: #ffd014;
  height: 153px;
  width: 55%;
  border-radius: 17px;
  margin: 35px auto;
  margin-bottom: 301px;

  form {
    background-color: inherit;
    position: relative;
    width: 100%;
    top: 36%;
  }

  input[name= "userName"] {
    font-size: 18pt;
    font-family: fondamento;
    background-color: #ffffff;
    height: 38px;
    width: 62%;
    margin-left: 14%;
  }

  button.submit {
    background-color: #ff77a0;
    border: 0;
    border-radius: 7px;
    width: 65px;
    position: absolute;
    right: 85px;
    top: 7px;
  }

}
