$color1: #ff77a0 ; //rgba(255, 119, 160, 100) pink
$color2: #ffd014 ; //rgba(255, 208, 20, 100) yellow
$color3: #3aa2f2 ; //rgba(58, 162, 242, 100) blue
$color4: #2aa517 ; //rgba(42, 165, 23, 100) green
$color5: #2b1425 ; //rgba(43, 20, 37, 100) dark

* {
  background-color: #3aa2f2;
  color: #2b1425;
  font-family: 'Palanquin', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.inactive {
  display: none;
}

h1 {
  text-align: center;
  background-color: inherit;
  font-size: 5em;
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 3%;
}

h5 {
  color: #3aa2f2;
  background-color: inherit;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 27px;
}

h6 {
  color: #2b1425;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  color: #2aa517;
  background-color: inherit;
}

p {
  color: #2b1425;
  font-size: 12px;
  background-color: inherit;
  display: inline-block;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  width: 103%;
  // position: absolute;
  // left: -2%;
  // top: -2%;
}

footer {
  color: #3aa2f2;
  background-color: #2b1425;
  margin: 0;
  width: 100%;
  padding-top: 1px;
  // position: absolute;
  // top: 92%;
  // left: 0%;
  h5 {
    margin: 0;
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
  }
}

div.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 74%;
  // position: absolute;
  // top: 18%;
  // left: 0%;
}
