* {
  background-color: #3aa2f2;
  color: #2b1425; }

header h1 {
  text-align: center;
  font-size: 5em;
  font-family: 'IM Fell English SC', serif;
  border: 2px solid;
  background-color:#2aa517;
  margin-top: 3%;
  }
input[name= "UserName"] {
font-size: 18pt;
font-family: fondamento;
background-color: #ffd014;
height: 38px;
width: 62%;
margin-left: 25px;
margin-left: 20%;
margin-top: 6%;
}
button.submit {
  margin-left: 20%;
  background-color: #ff77a0;
  margin-top: 10px;
  border-radius: 48%;
  font-family: 'IM Fell English SC', serif;
}
